/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* placeholders for changeable elements
=====================================*/
/* placeholders for repeated elements
=====================================*/
.noMargin {
  margin: 0; }

.noPadding {
  padding: 0; }

.leftSide {
  /* text decoration for any text */
  text-align: left; }

.rightSide {
  /* text decoration for any text */
  text-align: right; }

.leftSide {
  /* float for any block */
  float: left; }

.rightSide {
  /* float for any block */
  float: right; }

.forecast {
  /* position for any element */
  position: absolute; }

.weatherWidget {
  /* position for any element */
  position: relative; }

.forecast {
  /* background color transparent*/
  background-color: transparent; }

.windDirection, .windSpeed, .forecast li {
  /*display style for any element*/
  display: inline-block; }

.windDirection, .windSpeed {
  /* vertical align for any element*/
  vertical-align: middle; }

.temperature, .unit, .location, .wind, .forecast .day {
  /* text align for any element*/
  text-align: center; }

.leftSide {
  /* text align for any element*/
  text-align: left; }

.rightSide {
  /* text align for any element*/
  text-align: right; }

/*========Variables==================
===================================*/
/*========Variables==================
===================================*/
.fontSize10, .temperature, .unit {
  font-size: 100px; }

.fontSize5 {
  font-size: 50px; }

.fontSize24, .location, .windSpeed, .forecast .temperature {
  font-size: 24px; }

.fontSize48 {
  font-size: 48px; }

.colorWhiteLight, .date, .location {
  color: rgba(255, 255, 255, 0.302); }

.colorWhiteMiddle {
  color: rgba(255, 255, 255, 0.2); }

.colorWhiteDark, .temperature, .unit {
  color: rgba(255, 255, 255, 0.149); }

.fontFamilyLato, .date, .temperature, .unit, .location, .windSpeed {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.transform1 {
  -moz-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  -webkit-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  -ms-transform: matrix(0.96612, 0, 0, 0.92421, 0, 0);
  transform: matrix(0.96612, 0, 0, 0.92421, 0, 0); }

.transform2 {
  -moz-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  -webkit-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  -ms-transform: matrix(0.9262, 0, 0, 0.92664, 0, 0);
  transform: matrix(0.9262, 0, 0, 0.92664, 0, 0); }

.transform3 {
  -moz-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  -webkit-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  -ms-transform: matrix(0.30716, 0, 0, 0.29347, 0, 0);
  transform: matrix(0.30716, 0, 0, 0.29347, 0, 0); }

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto; }

a.active, a:focus, a:active {
  color: orange; }

nav {
  padding-top: 20px; }

.weatherWidget {
  min-width: 622px;
  min-height: 388px;
  display: block;
  margin: 40px;
  background: url("../images/background.png") 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 50px 60px 214px 60px; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.leftSide {
  max-width: 35%; }

.rightSide {
  max-width: 35%; }

.date {
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 2px 2.8px rgba(27, 35, 42, 0.4); }

.sky {
  display: inline-block;
  width: 119px;
  height: 113px;
  margin-top: 15px;
  background: url("../images/cloud-rain-heavy.png") 0 0 no-repeat; }

.temperature {
  line-height: 0.54; }

.unit {
  line-height: 1.125;
  text-shadow: 0px 3px 4px rgba(121, 23, 11, 0.37);
  margin-left: 5px; }

.location {
  line-height: 1.2;
  text-shadow: 0px 2px 2.8px rgba(27, 35, 42, 0.4); }

.wind {
  margin-top: 20px; }

.windDirection {
  width: 53px;
  height: 37px;
  background: url("../images/wind-west-east.png") 0 0 no-repeat; }
  .windDirection.north {
    -webkit-transform: rotate(90deg);
    -khtml-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.east {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.south {
    -webkit-transform: rotate(-90deg);
    -khtml-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.west {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.north.west {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.north.east {
    -webkit-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.south.west {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }
  .windDirection.south.east {
    -webkit-transform: rotate(-135deg);
    -khtml-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }

.windSpeed {
  margin-left: 10px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 3px 4px rgba(1, 17, 28, 0.64); }

.forecast {
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 16px 16px;
  font-size: 0;
  margin-bottom: 0; }
  .forecast li {
    font-size: 14px;
    background-color: rgba(26, 44, 59, 0.7);
    padding: 15px 5px 29px;
    width: 20%;
    border-top: 2px solid rgba(0, 0, 0, 0.149);
    border-left: 2px solid rgba(0, 0, 0, 0.149); }
    .forecast li:first-child {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 21px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 21px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 21px; }
    .forecast li:last-child {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 21px;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 21px;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 21px;
      border-bottom-left-radius: 0; }
  .forecast .day {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.302);
    line-height: 1.2;
    text-shadow: 0px 2px 2.8px rgba(27, 35, 42, 0.4); }
  .forecast .cloud {
    display: block;
    margin: 10px auto 0;
    width: 63px;
    height: 55px;
    background: url("../images/cloud-sunny.png") center center no-repeat; }
    .forecast .cloud.sunny {
      background: url("../images/cloud-sunny.png") 0 0 no-repeat; }
    .forecast .cloud.overcast {
      background: url("../images/cloud-overcast.png") 0 0 no-repeat; }
    .forecast .cloud.cloudy {
      background: url("../images/cloud-cloudy.png") 0 0 no-repeat; }
    .forecast .cloud.rainy {
      background: url("../images/cloud-rainy.png") 0 0 no-repeat; }
  .forecast .temperature {
    display: block;
    margin: 10px auto 0; }

/*# sourceMappingURL=styles.css.map */
