@import "scss/reset";
@import "scss/mixins";
@import "scss/variables";
@import "scss/theme";
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700");

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  //min-width: 550px;
  max-width: 100%;
  margin: 0 auto;
}


a.active, a:focus, a:active {
  color: orange;
}

nav {
  padding-top: 20px;
}

/*Dark theme of weather==========
=================================*/

$colorWhite: #fff;
$colorLightBlue: #009ad8;
$colorMainBg: #323544;
$colorDarkBg: #252733;
$colorSuperDarkBlue: #1e202b;
$colorHeader: #2c2f3d;
$ffRoboto: "Roboto", "Open Sans", sans-serif;
$colorFontGrey: #bfc1c8;
$fsBase: 14px;
$fsSmall: 10px;
$fsMiddle: 20px;
$fsLarge: 30px;
$fsHuge: 45px;
$fsGiant: 60px;

.darkWeather {
  font-family: $ffRoboto;
  color: $colorWhite;
  font-size: $fsBase;
  margin-bottom: 40px;

  .header {
    color: $colorBlue;
  }
  .form {
    position: relative;
    margin-bottom: 75px;
    padding: 10px 15px;
    .search {
      @include border-radius(30px);
      height: 60px;
      line-height: 1.5;
      font-size: $fsMiddle;
      padding: 15px 120px 15px 30px;
      background-color: $colorSuperDarkBlue;
      width: 100%;
      border: none;
    }
    .buttonPrimary {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: $fsMiddle;
      line-height: 1.5;
      background-color: $colorLightBlue;
      border-radius: 26px;
      border: none;
      height: 50px;
      padding: 10px 40px;
    }
  }
  .weatherWrapper {
    @include border-radius(10px);
    background-color: $colorMainBg;
    min-height: 300px;
    color: $colorFontGrey;
    display: flex;
    .current {
      min-width: 420px;
      width: 40%;
      .currentHeader {
        background-color: $colorHeader;
        color: $colorFontGrey;
        padding: 15px 10px;
        @include border-radius-separate(10px, 0, 0 , 0);
        margin-top: 0;
      }
      .day {
        display: block;
      }
      .date {
        display: block;
      }
      .content {
        .location {
          display: block;
          font-size: $fsMiddle;
          padding: 20px;
        }
        .weatherData {
          font-size: $fsGiant;
          text-align: center;
        }
        .temperature {
          display: inline-block;
          vertical-align: middle;
          color: $colorWhite;
          padding: 0 10px;
        }
        .sky {
          display: inline-block;
          vertical-align: middle;
          color: $colorLightBlue;
          margin-left: 20px;
          padding: 0 10px;
        }
        .otherData {
          display: flex;
          margin: 0;
          padding: 30px 0 10px;
          font-size: 0;
          li {
            width: 33%;
            padding: 5px 10px;
            text-align: center;
            font-size: $fsMiddle;
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .forecast {
      min-width: 420px;
      width: 60%;
      display: flex;
      margin: 0;
      li {
        display: inline-block;
        width: 120px;
        &:nth-child(2n-1) {
          background-color: $colorMainBg;
        }
        &:nth-last-child(2n) {
          background-color: rgba(38, 41, 54, 0.7);
          .currentHeader {
            background-color: $colorDarkBg;
          }
        }
        &:last-child {
          @include border-radius-separate(0, 10px, 0, 0);
          .currentHeader {
            @include border-radius-separate(0, 10px, 0, 0);
          }
        }
        .currentHeader {
          color: $colorFontGrey;
          background-color: $colorHeader;
          padding: 15px 10px;
          text-align: center;
          margin-top: 0;
        }
        .sky {
          padding: 40px 0 30px;
          font-size: $fsHuge;
          color: $colorLightBlue;
          text-align: center;
        }
        .temperature {
          color: $colorWhite;
          line-height: 1.5;
          text-align: center;
          padding: 10px 0;

          &.high {
            font-size: $fsLarge;
            font-weight: bold;
          }
          &.low {
            font-size: $fsMiddle;
            padding-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .darkWeather {
    .weatherWrapper {
      display: block;
      .current {
        .currentHeader {
          @include border-radius-separate(10px, 10px, 0, 0);
        }
      }
      .current, .forecast {
        float: none !important;
        width: 100%;
      }
      .current {
        .content {
          .otherData {
            padding: 20px 0;
          }
        }
      }
      .forecast {
        li {
          width: 200px;
          &:last-child {
            .currentHeader {
              @include border-radius(0);
            }
          }
        }

      }

    }
  }
}

@media (max-width: 768px) {
  .container, .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
  }
  .darkWeather {
    .header {
      padding: 0 15px;
      font-size: $fsLarge;
    }
    .weatherWrapper {
      display: block;
      .current {
        min-width: unset;
      }
      .forecast {
        display: block;
        min-width: unset;
        li {
          display: flex;
          align-items: center;
          width: 100%;
          padding-left: 10px;
          .sky, .temperature {
            width: 33%;
            display: inline-block;
            padding: 20px 10px !important;
          }
          &:nth-child(2n), &:nth-child(2n-1) {
            .currentHeader {
              width: 150px;
              margin: 0;
              text-align: left;
              background-color: transparent;
            }
          }
        }

      }
    }
  }
}

@media (max-width: 480px) {
  .darkWeather {
    .form {
      .buttonPrimary {
        padding: 10px 20px;
      }
    }
    .weatherWrapper {
      .current {
        .currentHeader {
          @include border-radius(0px);
        }
        .content {
          .otherData {
            li {
              i {
                display: block;
                margin-right: 0;
                margin-bottom: 5px;
              }
            }
          }
        }
      }

      .forecast {
        @include border-radius(0px);
        li {
          display: block;
          padding-left: 0;

          &:last-child {
            @include border-radius(0px);
          }
        }
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
  margin: 0 5px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $colorLightBlue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $colorLightBlue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchContainer {
  text-align: right;
  span {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: $colorLightBlue;
  }
}

